.bannar{
    text-align: center;
}
.bannar-a{
    border: 60px solid #FFF;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
   background-image: url(../resources/Banner\ Image.png);
   width: 1320px;
   height: 600px;
   flex-shrink: 0;
}
.bannar-aa{
    padding: 177px 531px 0px 530px;
    margin-top: 50px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.bannar-ab{
    padding: 0px 344px 177px 344px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    /* line-height: 95px; 131.944% */
    margin-bottom: 0%;
}
.bannar-ba{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.bannar-bb{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.bannar-bc{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.bannar-bd{
    width: 802.9px;
height: 500px;
flex-shrink: 0;
display: block;
margin-left: auto;
margin-right: auto;
}
.party-aa{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}
.party-ab{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.party-ac{
    color: #FFF;
text-align: left;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.party{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
  justify-content: space-between; 
}
.party-a{
    max-width: 500px;
}
main > article> section > header{

        background-color: bisque;
        background-image: url('../resources/Vectorrr.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        margin: 20px;
    }
    .park-a{
        color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
    }
    .park-b{
        color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
    }
.park{
    text-align: center;
    width: 1320px;
    height: 482px;
  padding: 10px;
  border: 5px solid wheats;
  margin: 20px;
background-color: antiquewhite;
}
.park-c{
    border-radius: 5px;
    background-color: orangered;
    border: 0;
   font-size: 20px;
   font-weight: 700;
   color: aliceblue;
   padding: 15px 35px;
}
.offer-aa{
    color: #F00;
text-align: left;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.offer-ab{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.offer-ac{
    color: #070211;
/* font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize; */
}
.offer-ca{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.offer-cb{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.offer-cc{
    width: 140px;
height: 140px;
flex-shrink: 0;

}
.offer-a{
    max-width: 300px;
}
.offer-b{
    max-width: 300px;
}
.offer-c{
    max-width: 300px;
}
.offer{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
  justify-content: space-between; 
}
.offer-b{
    background-color:#fff;
    border:5px solid red;    
    height:300px;
     border-radius:50%;
    /* -moz-border-radius:50%;
    -webkit-border-radius:50%;  */
    width:300px;
}
